html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#offset-input {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
}
